[user]
	email = alan.antonuk@gmail.com
	name = Alan Antonuk
[core]
	autocrlf = input
[color]
	ui = auto
[merge]
	tool = vimdiff
[bash]
	showDirtyState = true
[diff]
	algorithm = patience
[alias]
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	pr = "!f() { git fetch origin refs/pull/$1/head:pr/$1; } ; f"
